body {
	background: linear-gradient(-45deg, #24c6dc, #4b6cb7, #24c6dc, #4b6cb7);
	background-size: 10000000000% 10000000000%;
	animation: gradient 15s ease infinite;
	margin: 0%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.footer { position: fixed;
  bottom: 0px;
  width: 100%;
  height: 18px;
  background-color: black;
  color: white;
  text-align: center;
}
.header {
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  color: white;
  background: black;
  text-align: left;
  font-size: 24px;
  font-family: serif;
}
img.sticky {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#mySidenav psn {
  position: fixed;
  right: -85px;
  transition: 0.1s;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 5px 0 0 5px;
}
#mySidenav psn:hover {
  right: -10px;
}
#sided {
  top: 8px;
  background-color: #24c6dc;
  text-align: center;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.1s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.1s;
}
.overlay a:hover, .overlay a:focus {
  color: #24c6dc;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
h3 { text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  border-radius: 0px 0px 30px 30px;
}
h5 { text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}
h6 { text-align: center;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}
hr.rounded { border: 2px solid white;
  border-radius: 5px;
  margin-top: 100px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}
.avatar:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}